<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todos los proyectos</title>
</head>
<body>
    <h1>ee</h1>
    {% for proyecto in  listar_proyectos %}

    <div>

    <ul>
                        
    <li>nombre: {{proyecto.nombre}}</li>

    <li>descripcion: {{proyecto.descripcion}} </li>

    <li>duracion: {{proyecto.duracion}}</li>

    <li>fecha inicio: {{proyecto.fecha_inicio}}</li>

    <li>fecha fin: {{proyecto.fecha_fin}} </li>

    <ul>

    </div>
    {% endfor %}

</body>
</html>