<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tareas año 2024</title>
</head>
<body>
    <h1>tareas año 2024</h1>
    {% for tareas in  tareasaño %}

    <div>

    <ul>
                        
        
        <li>titulo: {{ tareas.titulo }} </li>
        <li>fecha inicio: {{ tareas.fecha_creacion }} </li>
        <li>fecha fin: {{ tareas.hora_vencimiento }} </li>
        <li>Estado: {{ tareas.estado }} </li>

    <ul>

    </div>
    {% endfor %}

</body>
</html>